/* Google fonts: */

/*
=============== 
==  Josefin  == 
=============== 
*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap'); /* font-family: 'Josefin Sans', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); /*font-family: 'Orbitron', sans-serif;*/
@font-face {
    font-family: 'b yekan';
    src: url('./Yekan.ttf');
}
@font-face {
    font-family: 'lalezar';
    src: url('Lalezar-Regular.ttf');
}
